<mat-toolbar>
  <!-- HOME PIKACHU NAVIGATE -->
  <img src="assets/images/pikachu.png" class="imgNavbar" alt="pikachu" (click)="goToList()" />
  <span>Pokemon Card Shop</span>
  <!-- DISPLAY POKEBALL BASKET WITH QUANTITY OF CARDS AND TOTAL PRICE -->
  <div class="endNavbar">
    <span class="quantityCards quantityBasket">{{quantityCards}}</span>
    <img src="assets/images/pokeball.png" class="imgNavbar" alt="pokeball" (click)="goToBasket()" />
    <span class="totalPrice quantityBasket">{{totalPrice| number : '1.2-2'}} $</span>
  </div>
</mat-toolbar>